name: CI-CD demo

on:
  pull_request:
    branches: [ "feature", "master" ]

jobs:
  CI-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # VERY IMPORTANT

      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.NEW_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=Vyshnavi154_DevOps_test1
            -Dsonar.organization=vyshnavi154
           
            -Dsonar.qualitygate.wait=true
