name: mainworkflow
on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        type: string
        default: '8'
      environment:
        required: true
        type: string
        default: 'staging'
jobs:
  calling_ci:
    uses: ./.github/workflows/ci.yml
    with:
      version: ${{ github.event.inputs.version }}
      evnironment: $ {{ github.event.inputs.environment }}

        
        
