name: variable_usecase

on:
  workflow_dispatch:
    inputs:
      variable1:
        description: Enter the variable
        type: string
        default: devops_var
        required: true
      deplloy_env:
        description: Enter the target env
        type: choice
        options:
            - qa
            - prod
            - pre-prod
        default: qa

        
  push:
    branches:
      - master
      - variables
  schedule:
  - cron: '21 4 * * *' 
env:
  name: Vysh
  


  

jobs:
  testing-variables:
    runs-on: ubuntu-latest
    steps:
     - name: testing_variable
       run: |
        echo "repo: ${{ github.repository }}" >> $GITHUB_STEP_SUMMARY
        echo "${{ github.workflow }}" >> $GITHUB_STEP_SUMMARY
        echo "${{ github.triggering_actor }}" >> $GITHUB_STEP_SUMMARY
        echo "${{ github.event.inputs.variable1 }}" >> $GITHUB_STEP_SUMMARY
        echo "${{ github.event_name }}" >> $GITHUB_STEP_SUMMARY
        echo "${{vars.VAR_NAME}}" >> $GITHUB_STEP_SUMMARY
        echo "${{secrets.PSSWD}}" >> $GITHUB_STEP_SUMMARY

        
        
     - name: checkouting
       uses: actions/checkout@v4
       with:
         path: working_dir
         fetch-depth: 0
     - name: details
       run : |
         echo "$(pwd)" >> $GITHUB_STEP_SUMMARY
         ls -lrt working_dir >> $GITHUB_STEP_SUMMARY

     - name: check
       run: |
        if [ "${{ github.event_name }}" == "push" ]; then
          echo "servername=S1" >> $GITHUB_ENV
        elif [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
          echo "servername=s2" >> $GITHUB_ENV
        else
          echo "servername=s3" >> $GITHUB_ENV
        fi
     - name: print
       run: echo "$servername" >> $GITHUB_STEP_SUMMARY
        
        
